body {
	font-family: helvetica;
	font-size: 14px;
}

#cy {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 999;
}

#rightcol {
	width: 300px;
}

#split {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#toolbar {
	text-align: right;
	padding: 2px;
	border-left: 1px solid black;
	height: 100%;
}

#toolbar * {
	margin: 3px;
}

h1 {
	opacity: 0.5;
	font-size: 1em;
}

.inputarea {
	width: 100%;
	height: 20%;
}
